.idea/
.gradle/
build/
bin/
out/
*.pdf
*.ipr
*.iws
*.iml
data.json
all.csv
replacements.csv
gradle.properties
local.properties
/badge-generator/attendees.csv
/badge-generator/get.groovy
/badge-generator/speakers.csv
/badge-generator/team.csv
/event-manager/tasks/publish-eventbrite/*.json
/event-manager/tasks/publish-eventbrite/output.txt
*.backup
*.tfstate
vars.tf
*.json
attendees_a_j.csv
attendees_k_p.csv
attendees_r_z.csv
